asgiref==3.12.1
boto3==1.43.91
botocore==1.43.91
Django==5.2.16
django-environ==0.14.0
django-filter==26.1
django-storages[s3]==1.14.6
djangorestframework==3.17.1
gunicorn==26.2.0
jmespath==1.1.0
pillow==12.3.0
psycopg[binary]==3.2.13
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
google-auth[requests]==2.61.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cryptography==50.0.2
idna==3.20
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.1
requests==2.34.2
